*, *::before, *::after {
    
    box-sizing: border-box;
}

body{
    margin: 0;
    font-size: 1.3rem;
    font-family: sans-serif  ;
}

:root{
    --color1: #f3eed9;
    --color2: #824936;
    --color3: #222c2a;
}

.container{
    width: 80%;
    max-width:  1128px;
    margin: 0 auto;
}

/***************SECTION 1****************/
header{
    background-color: #f3eed9;
    padding: 100px 0;
    text-align: center;
}

header p{
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 16px;
    letter-spacing: 4px;
}

h1{
    font-size: 60px;
    color: var(--color2);
    line-height: 1.1;
}

.hero{
    max-width: 600px;
    margin: 0 auto;
}

/**********section 2****************/
