*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif  ;
}

header{
    background-color: #23424a;
    color: white;
    padding: 50px 0;
}

.box2{
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}

.box3{
    display: flex;
    gap: 20px;
    justify-content: center;
    border: 5px solid red;
}

.section-text-1{
    padding: 20px 20px;
    margin: 20px;
}

.section-text-2{
    padding: 20px 20px;
    margin: 20px;
}

.section-text-3{
    padding: 20px 20px;
    margin: 20px;
}

.section-text-3 h2{
    color: purple;
}

.section-text-2 h2 {
    color: purple;
}

.section-text-1 h2{
    color: purple;
}

.child-box2{

    width:   50%;
    
}

section {
    padding: 16px 0;
}

.section-text{
    width: 90% ;
}

h2{
    margin-bottom: 20px;
}

p{
    margin-bottom: 20px;
}


button{
    background-color: antiquewhite;
    padding: 17px 24px;
    text-transform: uppercase;
    border-radius: 32px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}