@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.html{
    font-size: 10px;
}

:root{
    --color1: #2e323f;
    --color2: #3b4050;
    --color3: #6f737f;
    --color4: #ffffff;
    --color5: #a59678;
}

.container{
    width: 80%;
    max-width:  1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    gap: 2rem;
    align-items: center;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, a{
    font-family: "Oswald", sans-serif;
}


/***Fonts***/
.section1 h1{
    font-size: 90px;
}

.hero__small p {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

/**nav bar*/
header {
    background-color: var(--color1);
    padding: 1.6rem;
    color: white;
    
}

header h1{
    font-size: 2rem;
}

.row_nav{
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--color4);
    font-size: 20px;
    text-transform: uppercase;
}

li{
    list-style: none;
}
/* .nav__list {
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
} */

.nav__link--button {
    background-color: var(--color5);
    color: var(--color4);
    padding: .25em 1em;
    border-radius: 10em;
    text-decoration: none;
    text-transform: uppercase;
}



.nav__link--button:hover {
    opacity: .75;
}

/*******SECTION 1********/
.section1 {
    background-color: var(--color2);
    padding: 100px 0;
}

.hero{
    display:flex;
    gap: 30px;
    justify-content: center;
}
.hero__small p {
    padding-top: 250px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    color: var(--color4)

}

.hero__big span{
    color: var(--color5);
}

.hero__big h2{
    color: var(--color5);
}

.hero__big h1{
    color: var(--color4);
    font-family: "Oswald", sans-serif;
    font-size: 5rem;

}

.hero__small a{
    font-family: "Oswald", sans-serif;
    font-size: 24px;
}


.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color4);
    font-weight: 900;
    background-color: var(--color5);
    padding: .75em 2em;
    border-radius: 100px;
}

.btn:hover,
btn:focus{
    opacity: .75;
}

/*********section 2**************/
.section2 {
    padding: 70px 0;
    background-color: whitesmoke;
    text-align: center;
}

.flex-1{
    padding: 5px 50px;
    width: 50%;
    align-items: center;
        
}

.flex-1 h2{
    color: var(--color5);
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}


.flex-1 p{
    padding: 5px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-align: center;
    color: var(--color1);
}

/**************section 3****************/
.section3{
    padding: 20px 0;
}

img{
    max-width: 100%;
    object-fit: contain;
}


.col-box2{
    background-color: #3b4050;
    margin-bottom: 20px;
    padding: 30px;
    color: var(--color4);
}

.col-box2 h2{
    color: var(--color4);
    text-align: center;
    padding: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}

.col-box2 p{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}


.col-box1 h2{
    color: var(--color5);
    font-family: "Oswald", sans-serif;
    font-size: 36px;
}

/* .col h2{
    color: var(--color5);
    padding: 5px;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
} */

.col-box1 p{
    padding: 20px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 21px;
}

/*************FOOTER***************/
footer{
    background-color: var(--color2);
    
}

.footer__row{
    display: flex;
    gap: 20px;
    
}

footer h2{
    text-align: center;
    color: var(--color5);
    padding: 20px;
}

.row__box2{
    color: var(--color4);
    
}

.row__box2 h2{
    align-items: flex-start;
    font-family: "Oswald", sans-serif;
    font-size: 21px;
}

.row__box2 ul{
    list-style-type: none;
}

.row__box2 li{
    padding-bottom: 10px;
    padding-left: 20px;
}

.row__box1 p{
    color: var(--color4);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    
} 

.col-flex{
    flex: 1;
}
